.orang {
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 14px 34px;
}

/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

body {
    font-family: 'Lato' ,
    sans-serif;
    font-family: 'Open Sans'
    sans-serif;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    display: flex;
    margin: 40px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */

.header{
    background-color: #fff8f3;
    max-width: 1800px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}

.banner-content {
    width: 700px;
}

.banner img {
    width: 500px;
}

.banner-greeting {
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 75px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 0px;
    font-size: 30px;
}

/* main section styles */

main {
    max-width: 1340px;
    margin: 0px auto;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 22px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#what-I-do {
    padding: 30px 150px;
}